.navbar navbar-expand-lg {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  #title {
    font-size: 30pt;
    font-weight: 600
  }

  #message, #guessCount {
    padding-left: 8%;
    margin-left: .5%;
    padding-top: 0.8%;
    font-size: 18pt;
    font-weight: 500
  }

